Pandas Dataframe Series 

Pandas is a powerful data manipulation library in Python, widely used for dta analysis and data cleaning. It provides two primary data structures: Series and DataFrames. A Series 
is a one-dimensional array-like object, while DataFrame is a two-dimensional, size-mutable and potentially hetrogenous tabular datastructure with labelled axes(rows and columns)

import pandas as pd

In [5]:
import pandas as pd

In [6]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [7]:
import pandas as pd

data = [1, 2, 3, 4, 5]
series = pd.Series(data)
print("Series : ", series)

Series :  0    1
1    2
2    3
3    4
4    5
dtype: int64

In [18]:
# dict1 = {"name" = "John"}

dict1["name"] = "John"

In [19]:
dict1["name"]

'John'

In [20]:
type(dict1)

dict

In [23]:
# Create a series from dictionary

data = {'a': 1, 'b': 2, 'c': 3}
series_dict = pd.Series(data)
print(series_dict)

a    1
b    2
c    3
dtype: int64

In [25]:
newdata = {1: 'a', 2: 'b', 3: 'c', 4: 'Jack'}
newdata_series = pd.Series(newdata)
print(newdata_series)

1       a
2       b
3       c
4    Jack
dtype: object

In [26]:
data = [10, 20, 30, 40]
index = ['a', 'b', 'c', 'd']
series_dict = pd.Series(index, index=data)
print(series_dict)

a    10
b    20
c    30
d    40
dtype: int64

In [27]:
data = [10, 20, 30, 40]
index = ['a', 'b', 'c', 'd']
series_dict = pd.Series(index, index=data)
print(series_dict)

10    a
20    b
30    c
40    d
dtype: object

In [28]:
# DataFrame
# Create a DataFrame from a dictionary of list

data = {
    'Name': ['Krish', 'John', "Jack"],
    'Age': [24, 23, 25],
    'City': ["Bangalore", 'New York', 'Folrida']
}

In [32]:
df = pd.DataFrame(data)
print(df)
print(type(df))

    Name  Age       City
0  Krish   24  Bangalore
1   John   23   New York
2   Jack   25    Folrida
<class 'pandas.core.frame.DataFrame'>

In [33]:
import numpy as np

In [35]:
np.array(df)

array([['Krish', 24, 'Bangalore'],
       ['John', 23, 'New York'],
       ['Jack', 25, 'Folrida']], dtype=object)

In [37]:
# Create a Data Frame from List of Dictionaries

data = [
    {"Name": "John", "Age": 23, "City": "Bengaluru"},
    {"Name": "Kiran", "Age": 24, "City": "Mysore"},
    {"Name": "Raju", "Age": 23, "City": "Chennai"},
    {"Name": "Priya", "Age": 23, "City": "Hyderabad"}
]

In [38]:
df = pd.DataFrame(data)
print(df)

    Name  Age       City
0   John   23  Bengaluru
1  Kiran   24     Mysore
2   Raju   23    Chennai
3  Priya   23  Hyderabad

In [39]:
ls - l

total 87968
-rw-r--r--@ 1 ramesh.babu  staff  45038760 Mar 19 18:07 online-retail-dataset.csv
-rw-r--r--  1 ramesh.babu  staff         0 Mar 19 15:50 pandas_dataframes.ipynb

In [40]:
df = pd.read_csv('online-retail-dataset.csv')
df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [41]:
df.tail(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [42]:
# Accessing data from Data Frame
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [43]:
df['StockCode']

0         85123A
1          71053
2         84406B
3         84029G
4         84029E
           ...
541904     22613
541905     22899
541906     23254
541907     23255
541908     22138
Name: StockCode, Length: 541909, dtype: object

In [44]:
type(df['StockCode'])

pandas.core.series.Series

In [45]:
df.loc[0]

InvoiceNo                                  536365
StockCode                                  85123A
Description    WHITE HANGING HEART T-LIGHT HOLDER
Quantity                                        6
InvoiceDate                        12/1/2010 8:26
UnitPrice                                    2.55
CustomerID                                17850.0
Country                            United Kingdom
Name: 0, dtype: object

In [46]:
df.loc[5]

InvoiceNo                            536365
StockCode                             22752
Description    SET 7 BABUSHKA NESTING BOXES
Quantity                                  2
InvoiceDate                  12/1/2010 8:26
UnitPrice                              7.65
CustomerID                          17850.0
Country                      United Kingdom
Name: 5, dtype: object

In [47]:
df.iloc[3]

InvoiceNo                                   536365
StockCode                                   84029G
Description    KNITTED UNION FLAG HOT WATER BOTTLE
Quantity                                         6
InvoiceDate                         12/1/2010 8:26
UnitPrice                                     3.39
CustomerID                                 17850.0
Country                             United Kingdom
Name: 3, dtype: object

In [49]:
df.head(4)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [50]:
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

In [51]:
df.iloc[9]

InvoiceNo                             536367
StockCode                              84879
Description    ASSORTED COLOUR BIRD ORNAMENT
Quantity                                  32
InvoiceDate                   12/1/2010 8:34
UnitPrice                               1.69
CustomerID                           13047.0
Country                       United Kingdom
Name: 9, dtype: object

In [52]:
df.iloc[0][0]

'536365'

In [55]:
df.iloc[1][2]

'WHITE METAL LANTERN'

In [60]:
df.head(11)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom

In [58]:
df.at[9, "Description"]

'ASSORTED COLOUR BIRD ORNAMENT'

In [61]:
data = {
    'Name': ['Krish', 'John', "Jack"],
    'Age': [24, 23, 25],
    'City': ["Bangalore", 'New York', 'Folrida']
}

In [62]:
df = pd.DataFrame(data)
print(df)

    Name  Age       City
0  Krish   24  Bangalore
1   John   23   New York
2   Jack   25    Folrida

In [63]:
df['Salary'] = [4000, 5000, 6000]

In [64]:
print(df)

    Name  Age       City  Salary
0  Krish   24  Bangalore    4000
1   John   23   New York    5000
2   Jack   25    Folrida    6000

In [65]:
df.drop(Salary)

NameError: name 'Salary' is not defined

In [68]:
df.drop('Salary')

KeyError: "['Salary'] not found in axis"

In [69]:
df.drop('Salary', axis=0)

KeyError: "['Salary'] not found in axis"

In [70]:
df.drop('Salary', axis=1)

    Name  Age       City
0  Krish   24  Bangalore
1   John   23   New York
2   Jack   25    Folrida

In [71]:
print(df)

    Name  Age       City  Salary
0  Krish   24  Bangalore    4000
1   John   23   New York    5000
2   Jack   25    Folrida    6000

In [72]:
df.drop('Salary', axis=1, inplace=True)

In [73]:
df

    Name  Age       City
0  Krish   24  Bangalore
1   John   23   New York
2   Jack   25    Folrida

In [74]:
df['Age']+1

0    25
1    24
2    26
Name: Age, dtype: int64

In [75]:
df['Age'] = df['Age'] + 1

In [76]:
df

    Name  Age       City
0  Krish   25  Bangalore
1   John   24   New York
2   Jack   26    Folrida

In [77]:
# Display the data types of each column
print("Data types: ", df.dtypes)

Data types:  Name    object
Age      int64
City    object
dtype: object

In [78]:
data = pd.read_csv("online-retail-dataset.csv")
df = pd.DataFrame(data)
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [79]:
# Display the data types of each column
print("Data types: ", df.dtypes)

Data types:  InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [80]:
# Describe the DataFrame
print("Statistics summary : ", df.describe())

Statistics summary :              Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000